@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimage {
  background-image: url("../public/bg.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


@media screen and (min-width: 500px) and (max-width: 640px) {
  .screen {
    margin-top: 82px;
  }
  .pages{
    margin-top: 32px;
  }
}
